app/code/local/Brabs/NewsletterAPI/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="{{var wsdl.name}}"
                  targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="newsletterSubscriberEntity">
                <xsd:sequence>
                    <xsd:element name="subscriber_id" type="xsd:integer" />
                    <xsd:element name="customer_id" type="xsd:integer" />
                    <xsd:element name="store_id" type="xsd:integer" />
                    <xsd:element name="subscriber_email" type="xsd:string" />
                    <xsd:element name="subscriber_status" type="xsd:integer" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="newsletterSubscriberEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:newsletterSubscriberEntity" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="newsletterSubscriberListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="newsletterSubscriberListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:newsletterSubscriberEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="newsletterSubscriberListRequest">
        <wsdl:part name="parameters" element="typens:newsletterSubscriberListRequestParam" />
    </wsdl:message>
    <wsdl:message name="newsletterSubscriberListResponse">
        <wsdl:part name="parameters" element="typens:newsletterSubscriberListResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="newsletterSubscriberList">
            <wsdl:documentation>List of newsletter subscribers</wsdl:documentation>
            <wsdl:input message="typens:newsletterSubscriberListRequest" />
            <wsdl:output message="typens:newsletterSubscriberListResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="newsletterSubscriberList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
